
<!doctype html>
<html class="no-js">
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <link rel="stylesheet" type="text/css" href="/dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="/dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/menu.css">

  <link rel="stylesheet" type="text/css" href="/dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/message.css">
  <link rel="stylesheet" type="text/css" href="/dist/components/icon.css">
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
  
  <script src="/dist/semantic.min.js"></script>
  <script src="/dist/components/form.js"></script>
  <script src="/dist/components/transition.js"></script>

  <style type="text/css">
    body { background-color: #DADADA; }
    body > .grid { height: 100%; }
    .image { margin-top: -100px; }
    .column { max-width: 450px; }
  </style>

</head>
<body>

    <nav class="ui fixed menu inverted navbar">
        <a href="" class="brand item">Project Name</a>
        <a href="" class="active item">Home</a>
        <a href="" class="item">Features</a>
        <a href="" class="item">Contact</a>
    </nav>
    

<!-- body content here -->
    <main class="ui page grid">
        <div class="row">
            <div class="center aligned starter column">
                <h1 class="ui header">Semantic UI starter template</h1>
                <p>Use this document as a way to quickly start any new project.</p>
                <p>All you get is this text and a mostly barebones HTML document.</p>
            </div>
        </div>
    </main>
    
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.13.0/javascript/semantic.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
</body>
</html>