<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome Back!</title>
    <%- include ../boot_partials/head %>
  </head>

  <body>
    <header>
      <%- include ../boot_partials/nav %>
    </header>
    
    <div class="container">
      <div class="starter-template">

      <h1> Search Results page </h1>

      </div>
    </div><!-- /.container -->

    <%- include ../boot_partials/footer %>
  </body>
</html>



