<!DOCTYPE html>
<html>
<head>
  <%- include ./../boot_partials/head %>
  <title>Error</title>
</head>
<body>

  <h3> Sorry! <%= data.email %> is not registered. 
    Please create an account <a href="/users/new">here</a>. </h3>
  
  <%- include ./../boot_partials/footer %>
</body>
</html>
