<!DOCTYPE html>
<html>
<head>
  <%- include ./../boot_partials/head %>
  <title>Happy Feet</title>
</head>
<body>

  <div class="ui middle aligned center aligned grid">
    <h1> Welcome to Happy Feet! </h1>
    <div class="column">
      <!-- b64 here -->
      <form class="ui large form" action="/users/login" method="post">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" placeholder="E-mail Address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <!-- <div class="ui fluid large teal submit button">Login</div> -->
          <input type="submit" value="Submit" class="ui fluid large teal submit button">
        </div>
        <div class="ui error message"></div>
      </form>

      <div class="ui message">
        Not a member? <a href="/users/new">Sign Up Here!</a>   <!-- redirect to new_user page -->
      </div>
    </div>
  </div>
  <%- include ./../boot_partials/footer %>
</body>
</html>
