<!DOCTYPE html>
<html>
<head>
  <%- include ./../boot_partials/head %>
  <title>New User</title>
</head>
<body>

  <div class="ui middle aligned center aligned grid">
    <div class="column">

      <form class="ui large form" action="/users" method="post">
        <div class="ui stacked segment">
          <div class="field">
            <input type="text" name="name" placeholder="Full Name" required>
          </div>
          <div class="field">
            <input type="text" name="email" placeholder="E-mail Address" required>
          </div>
          <div class="field">
            <input type="password" name="password" placeholder="Create a new password" required>
          </div>
          <div class="field">
            <input type="number" name="balance" min="0" step="any" placeholder="Starting balance amount" required>
          </div>
          <div class="field">
            <select name="shoe_size">
              <option value="5">5</option><option value="5.5">5.5</option>
              <option value="6">6</option><option value="6.5">6.5</option>
              <option value="7">7</option><option value="7.5">7.5</option>
              <option value="8">8</option><option value="8.5">8.5</option>
              <option value="9">9</option><option value="9.5">9.5</option>
              <option value="10">10</option><option value="10.5">10.5</option>
              <option value="11">11</option><option value="11.5">11.5</option>
              <option value="12">12</option><option value="12.5">12.5</option>
              <option value="13">13</option><option value="14">14</option>
            </select>
          </div>
          
          <!-- shoe size drop down  -->
          <!-- <div class="ui fluid large teal submit button">Login</div> -->
          <input type="submit" value="Sign Me Up!" class="ui fluid large teal submit button">  <!-- Can I do: value="Sign Me Up!" ???? -->
        </div>
        <div class="ui error message"></div>
      </form>

    </div>
  </div>
  <%- include ./../boot_partials/footer %>
</body>
</html>
