<!DOCTYPE html>
<html>
<head>
  <%- include ../partials/head %>
  <title> New User Form </title>
</head>

<body class="newUser">

  <div class="ui middle aligned center aligned grid">
    <div class="column">

      <form class="ui form" action="/users" method="post">
        <div class="ui stacked segment">
          <h1 class="ui black image header">
            <div class="content">
              New User Registration
            </div>
          </h1>

          <!-- User Name -->
          <div class="required field">
            <input type="text" name="name" placeholder="Your Full Name" required>
          </div>

          <!-- User Email -->
          <div class="required field">
            <input type="email" name="email" placeholder="E-mail Address" required>
            <div class="ui error message"> <%= data %> </div>
          </div>

          <!-- User Password -->
          <div class="required field">
            <input type="password" name="password" placeholder="Create a password" required>
          </div>

          <!-- User Account Balance -->
          <div class="required field">
            <input type="number" name="balance" min="0" step="any" placeholder="Starting Balance: $000.00" required>
          </div>

          <!-- User Sneaker Size -->
          <div class="ui form">
            <select class="ui search dropdown" name="shoe_size" required>
              <option value="">Select Sneaker Size</option>
              <option value="5">5</option><option value="5.5">5.5</option>
              <option value="6">6</option><option value="6.5">6.5</option>
              <option value="7">7</option><option value="7.5">7.5</option>
              <option value="8">8</option><option value="8.5">8.5</option>
              <option value="9">9</option><option value="9.5">9.5</option>
              <option value="10">10</option><option value="10.5">10.5</option>
              <option value="11">11</option><option value="11.5">11.5</option>
              <option value="12">12</option><option value="12.5">12.5</option>
              <option value="13">13</option><option value="14">14</option>
            </select>
          </div>

          <!-- <div class="ui fluid large teal submit button">Login</div> -->
          <br>
          <button class="ui button" type="submit">Lace Me Up!</button>
        </div>
      </form>

    </div>
  </div>
  <%- include ./../boot_partials/footer %>
</body>
</html>
