<!DOCTYPE html>
<html>
<head>
  <%- include ./../boot_partials/head %>
  <title>Search Test</title>
</head>
<body>

  <div>
    <form action="/users/logout?_method=DELETE" method="post">
      <button>Logout</button>
    </form>
  </div>

  <% if(data){ %>
    <h3>Searching for: <%= data %> </h3>
  <% } %>

  
  <%- include ./../boot_partials/footer %>
</body>
</html>
